link(rel='stylesheet', href='/stylesheets/clock.css')
script(type='text/javascript', src='/javascripts/clock.js')

.clock
  #Date
  #dash  - 
  #time
    span#hours
    span#point :
    span#min
    span#point :
    span#sec