script
  processJobsShoutout(!{JSON.stringify(failureJobs)});

each job in failureJobs
  li
    a.mainText(href=job.url, class=job.status, target='_blank') 
      if job.queueStatus
        | [Queued] - 

      | #{job.name}