#mainMenu
  .menuItem: a(href='/jira', title='JIRA Supports') JIRA
  .menuItem: a(href='/reminder/list', title='Reminders') Reminder
  .menuItem: a(href='/list', title='List Monitored Jobs') List
  .menuItem: a(href='/add', title='Add Jobs') Add