extends layout

block content
  h3= title

  form(action='/save', id='addForm', method='get')
    label(for='server') Server: 
    select(name='server', id='server', onchange='retrieveJobs()')
      option(value='')
      each serverName in availableServers
        option(value='#{serverName}') #{serverName}

    #floatingSubmit
      input(type='submit', value='Submit')

    #addJobHolder
      include includes/job_selections.jade