extends layout

block content
  h3= title

  form(action='/save', method='get')
    label(for='server') Server: 
    select(name='server', id='server', onchange='retrieveJobs()')
      option(value='')
      each serverName in availableServers
        option(value='#{serverName}') #{serverName}

    input(type='submit', value='Submit')

    #jobContent
      include includes/job_selections.jade