extends layout

block content
  form(action='/save', method='get')
    select(name='server', id='server', onchange='retrieveJobs()')
      option(value='jenkins') Jenkins
      option(value='virgon') Virgon
      option(value='winbob') Winbob
      option(value='linbob') Linbob


    input(type='submit', value='Submit')

    #jobContent
      include includes/job_selections.jade