extends layout

block content
  script(type='text/javascript', src='/javascripts/index.js')

  #serverList.header
    .inLine(style='margin-right: 20px;') Monitoring:
    each server in monitoredServers
      .inLine.serverName
        a(href=server.url, class=server.status, target='_blank') #{server.name}

  hr.clear

  include includes/clock.jade
  #failureList
    include includes/job_failures.jade
  