extends layout

block content
  h3= title
  //
    label Currently monitoring:
    #serverList
      ul
        each serverName in monitoredServers
          li: span #{serverName}

  label Failed Jobs
  #failureList
    each job in failureJobs
      li: span.warning #{job.name}