extends layout

block content
  link(rel='stylesheet', href='/stylesheets/clock.css')
  script(type='text/javascript', src='/javascripts/indexLoading.js')
  script(type='text/javascript', src='/javascripts/clock.js')

  include includes/clock.jade

  #mainDisplaySection
    #failureList.displayList
      include includes/job_failures.jade
    
    #jiraList.displayList
      include includes/jira_live_listing.jade
