extends layout

block content
  link(rel='stylesheet', href='/stylesheets/clock.css')
  script(type='text/javascript', src='/javascripts/clock.js')

  include includes/clock.jade

  #failureList.displayList
    include includes/job_failures.jade
  