extends layout

block content
  script(type='text/javascript', src='/javascripts/index.js')

  #serverList.header
    .inLine(style='margin-right: 20px;') Monitoring:
    each serverName in monitoredServers
      .inLine.serverName.passed #{serverName}

  hr.clear

  include includes/clock.jade
  #failureList
    include includes/job_failures.jade
  