extends layout

block content
  #serverList.header
    .inLine(style='margin-right: 20px;') Monitoring:
    each serverName in monitoredServers
      .inLine.serverName.passed #{serverName}

  hr.clear

  include includes/clock.jade
  #failureList
    each job in failureJobs
      li
        a(href=job.url, class=job.status, target='_blank') #{job.name}

  