doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/clock.css')
    link(rel='stylesheet', href='/stylesheets/jquery.notice.css')
    link(rel='stylesheet', href='/stylesheets/dhtmlxcalendar.css')
    link(rel='stylesheet', href='/stylesheets/dhtmlxcalendar_dhx_terrace.css')
    script(type='text/javascript', src='/javascripts/jquery-1.8.1.js')
    script(type='text/javascript', src='/javascripts/jquery.notice.js')
    script(type='text/javascript', src='/javascripts/monitoring.js')
    script(type='text/javascript', src='/javascripts/speakClient.js')
    script(type='text/javascript', src='/javascripts/dhtmlxcalendar.js')
    
  body

    #header
      include includes/header.jade
      include includes/menu.jade
    
    include includes/ticker.jade

    #mainContent
      block content

    include includes/footer.jade