fontFamily = Calibri, Tahoma, Geneva, sans-serif
fontColor = #656565
fontSize = 20px
visibleSize = 30px

headerColor = #636363
headerSize = 36px

@font-face
  font-family 'customPapyrus'
  src url("../fonts/papyrus-font.ttf") format('truetype')

body
  margin 0
  padding 0
  color fontColor
  font-family fontFamily
  font-size fontSize
  line-height 1.5em 
  background-color #E0E0E0

h3
  margin 15px 0
  text-decoration underline

hr
  margin-top 10px

a
  text-decoration none

a:hover
  text-decoration underline

/*
 * Header style
 */
#header
  min-height 50px
  padding 10px 20px
  background-color #2D2C2E

#headerText
  font-family customPapyrus
  font-size 64px
  float left
  color white
  margin-top 12px
  text-shadow 5px 5px 5px fontColor

/* 
 * Footer style
 */
#footer
  padding 10px 0
  text-align center

/* 
 * Menu style 
 */
#mainMenu
  float right
  padding-right 20px

.menuItem
  background-color #A5C451
  text-align center
  width 80px
  float left
  padding 5px
  margin-left 25px
  box-shadow 5px 5px 5px #D2F476
  border-radius 1px
  /* Firefox 3.6 and earlier */
  -moz-border-radius 1px

.menuItem a
  text-decoration none
  color white

.menuItem a:hover
  text-decoration none
  font-weight bold

.menuItem a:visited
  text-decoration none

/*
 * Content
 */
#mainContent
  padding 10px 30px
  min-height 500px
  clear both

#jobContent, #failureList
  padding 0
  word-wrap break-word

  /* Safari and Chrome */
  -webkit-column-count 2
  -webkit-column-gap 60px
  -webkit-column-rule 4px outset transparent
  /* Firefox */
  -moz-column-count 2
  -moz-column-gap 60px
  -moz-column-rule 4px outset transparent

#jobContent input[type=checkbox]
  margin-right 10px

#failureList
  margin 10px 0
  padding-left 20px

#failureList li div
  height 35px

#serverList
  margin 10px 0
  min-height 40px

.serverName
  margin 0 10px

.deleteImg
  margin 0 10px
  position relative
  top 2px

.header
  color headerColor
  font-size headerSize

.red, .red_anime, .yellow
  font-weight bold
  font-size visibleSize

.red, .red_anime
  color red

.red_anime
  text-decoration blink

.yellow
  color yellow

.passed
  color #74C90C
  font-weight bold

#floatingSubmit
  position fixed
  top 140px
  right 50px

.inLine
  float left
  vertical-align middle

.clear
  clear both