fontFamily = Calibri, Tahoma, Geneva, sans-serif
fontColor = #656565
fontSize = 20px
visibleSize = 30px

headerColor = #636363
headerSize = 36px

@font-face
  font-family 'customPapyrus'
  src url("../fonts/papyrus-font.ttf") format('truetype')

body
  margin 0
  padding 0
  color fontColor
  font-family fontFamily
  font-size fontSize
  line-height 1.5em 
  background-color #E0E0E0
  min-width 1000px

h3
  margin 15px 0
  font-size headerSize

hr
  margin-top 10px

a, a:hover
  text-decoration none
  cursor pointer

/*
 * Header style
 */
#header
  min-height 50px
  min-width 900px
  padding 10px 20px
  background-color #2D2C2E

#headerText a
  font-family customPapyrus
  font-size 64px
  float left
  color white
  margin-top 12px
  text-shadow 5px 5px 5px fontColor

/* 
 * Footer style
 */
#footer
  padding 10px 0
  text-align center

/* 
 * Menu style 
 */
#mainMenu
  float right
  padding-right 20px

.menuItem
  background-color #A5C451
  text-align center
  width 80px
  float left
  padding 5px
  margin-left 15px
  box-shadow 5px 5px 5px #D2F476
  border-radius 1px

.menuItem a
  text-decoration none
  color white

.menuItem a:hover
  font-weight bold

.menuItem a:visited
  text-decoration none

/*
 * Content
 */
#mainContent
  padding 10px 30px
  min-height 500px
  clear both

#jobContent
  padding 0
  word-wrap break-word

  /* Safari and Chrome */
  -webkit-column-count 2
  -webkit-column-gap 60px
  -webkit-column-rule 4px outset transparent
  /* Firefox */
  -moz-column-count 2
  -moz-column-gap 60px
  -moz-column-rule 4px outset transparent

#jobContent input[type=checkbox]
  margin-right 10px

#mainDisplaySection
  width 100%
  clear both
  float left

#mainDisplaySection .displayList
  width 45%
  float left

.displayList
  margin 10px 0
  padding 0px 20px

.displayList a
  position relative
  top 3px

.deleteImg
  margin 0 10px
  position relative
  top 2px

.header
  color headerColor
  font-size headerSize

.mainText
  font-weight bold
  font-size visibleSize

.red_anime, .yellow_anime, .aborted_anime, .blue_anime, .blinkblink
  -webkit-animation: blink 1.25s linear infinite
  -moz-animation: blink 1.25s linear infinite

.red, .red_anime
  color red

.yellow, .yellow_anime
  color yellow

.blue_anime
  color blue

.down, .aborted, .aborted_anime
  color gray

.green
  color #74C90C

.orange
  color orange

#loader
  display none
  margin 60px

#floatingSubmit
  position fixed
  top 140px
  right 50px
  
@-webkit-keyframes blink
  0% 
    opacity 1
  50% 
    opacity 1
  50.01% 
    opacity 0
  100% 
    opacity 0
    
@-moz-keyframes blink
  0% 
    opacity 1
  50% 
    opacity 1
  50.01% 
    opacity 0
  100% 
    opacity 0

.clear
  clear both
  
/*
 * Reminder
 */
#rfrequency
  display none

.rtable
  width 100%

.rtable th
  text-align left

.rtdel
  width 50px
  
.rtname
  min-width 300px

.rtfreq
  width 120px

.rtrecur
  width 105px

.rtdate
  width 125px

.rttime
  width 55px