fontSize = 18px
fontFamily = Tahoma, Geneva, sans-serif
fontColor = #656565
headerColor = #636363

body
  margin 0
  padding 0
  color fontColor
  font-family fontFamily
  font-size fontSize
  line-height 1.5em 
  background-color #E0E0E0

h3
  color headerColor

/*
 * Header style
 */
#header
  min-height 60px
  padding 20px
  background-color #2D2C2E

#headerText
  font-size 48px
  width 500px
  float left
  color white
  margin-top 10px
  text-shadow 5px 5px 5px fontColor

/* 
 * Footer style
 */
#footer
  padding 10px 0
  text-align center

/* 
 * Menu style 
 */
#mainMenu
  float right
  padding-right 20px

.menuItem
  background-color #A5C451
  text-align center
  width 80px
  float left
  padding 10px
  margin-left 25px
  box-shadow 5px 5px 5px #D2F476
  border-radius 1px
  /* Firefox 3.6 and earlier */
  -moz-border-radius 1px

.menuItem:hover


.menuItem a
  text-decoration none
  color white

.menuItem a:hover
  text-decoration none
  font-weight bold

.menuItem a:visited
  text-decoration none

/*
 * Content
 */
#mainContent
  padding 10px 30px
  min-height 500px
  clear both

#jobContent
  padding 10px 0
  word-wrap break-word

  /* Safari and Chrome */
  -webkit-column-count 2
  -webkit-column-gap 60px
  -webkit-column-rule 4px outset #ff00ff
  /* Firefox */
  -moz-column-count 2
  -moz-column-gap 60px
  -moz-column-rule 4px outset #ff00ff

.warning
  color red
  font-weight bold
