@font-face {
  font-family: 'customPapyrus';
  src: url("../fonts/papyrus-font.ttf") format('truetype');
}
body {
  margin: 0;
  padding: 0;
  color: #656565;
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  background-color: #e0e0e0;
}
h3 {
  margin: 15px 0;
  text-decoration: underline;
}
hr {
  margin-top: 10px;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
/*
 * Header style
 */
#header {
  min-height: 50px;
  min-width: 800px;
  padding: 10px 20px;
  background-color: #2d2c2e;
}
#headerText a {
  font-family: customPapyrus;
  font-size: 64px;
  float: left;
  color: #fff;
  margin-top: 12px;
  text-shadow: 5px 5px 5px #656565;
}
/* 
 * Footer style
 */
#footer {
  padding: 10px 0;
  text-align: center;
}
/* 
 * Menu style 
 */
#mainMenu {
  float: right;
  padding-right: 20px;
}
.menuItem {
  background-color: #a5c451;
  text-align: center;
  width: 80px;
  float: left;
  padding: 5px;
  margin-left: 25px;
  box-shadow: 5px 5px 5px #d2f476;
  border-radius: 1px;
}
.menuItem a {
  text-decoration: none;
  color: #fff;
}
.menuItem a:hover {
  font-weight: bold;
}
.menuItem a:visited {
  text-decoration: none;
}
/*
 * Content
 */
#mainContent {
  padding: 10px 30px;
  min-height: 500px;
  clear: both;
}
#jobContent {
  padding: 0;
  word-wrap: break-word;
/* Safari and Chrome */
  -webkit-column-count: 2;
  -webkit-column-gap: 60px;
  -webkit-column-rule: 4px outset transparent;
/* Firefox */
  -moz-column-count: 2;
  -moz-column-gap: 60px;
  -moz-column-rule: 4px outset transparent;
}
#jobContent input[type=checkbox] {
  margin-right: 10px;
}
#failureList {
  margin: 10px 0;
  padding-left: 20px;
}
#failureList li div {
  height: 35px;
}
#failureList a {
  position: relative;
  top: 3px;
}
#serverList {
  margin: 10px 0;
  min-height: 40px;
}
.serverName {
  margin: 0 10px;
  font-weight: bold;
}
.deleteImg {
  margin: 0 10px;
  position: relative;
  top: 2px;
}
.header {
  color: #636363;
  font-size: 36px;
}
.red,
.red_anime,
.yellow,
.yellow_anime,
.aborted,
.aborted_anime,
.blue_anime {
  font-weight: bold;
  font-size: 30px;
}
.red_anime,
.yellow_anime,
.aborted_anime,
.blue_anime {
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
}
.red,
.red_anime {
  color: #f00;
}
.yellow,
.yellow_anime {
  color: #ff0;
}
.blue_anime {
  color: #00f;
}
.down,
.aborted,
.aborted_anime {
  color: #808080;
}
.green {
  color: #74c90c;
}
#floatingSubmit {
  position: fixed;
  top: 140px;
  right: 50px;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
.inLine {
  float: left;
  vertical-align: middle;
}
.clear {
  clear: both;
}
/*
 * Reminder
 */
#rfrequency {
  display: none;
}
.rtable {
  width: 100%;
}
.rtable th {
  text-align: left;
}
.rtdel {
  width: 50px;
}
.rtname {
  min-width: 300px;
}
.rtfreq {
  width: 120px;
}
.rtrecur {
  width: 105px;
}
.rtdate {
  width: 125px;
}
.rttime {
  width: 55px;
}
