extends ../layout

block content
  script(type='text/javascript', src='/javascripts/reminder.js')
  h3= title
  
  form(action='/reminder/add', id='addReminder', method='post')
    | Name :
    input(type='text', name='rname', value='')
    | Recurring : 
    input(type='radio', name='recurring', value='Yes')
    | Yes
    input(type='radio', name='recurring', value='No', checked)
    | No
  
    br
  
    #rfrequency
      | Frequency :
      input(type='radio', name='frequency', value='Annually')
      | Annually
      input(type='radio', name='frequency', value='Monthly')
      | Monthly
      input(type='radio', name='frequency', value='Weekly')
      | Weekly
      input(type='radio', name='frequency', value='Daily', checked)
      | Daily
  
    | Date : 
    input(type='text', name='datetime', value='', readonly)#dateTime
    img(src='/images/calendar.gif')
  
    br
  
    input(type='submit')

    #reminderHolder
      include ../includes/reminder_listing.jade