extends ../layout

block content
  script(type='text/javascript', src='/javascripts/calendar.js')
  h3= title
  
  form(action='/reminder/add', id='addReminder', method='post')
    | Recurring : 
    input(type='radio', name='recurring', value='yes')
    | Yes
    input(type='radio', name='recurring', value='no', checked)
    | No
  
    br
  
    #rfrequency
      | Frequency :
      input(type='radio', name='frequency', value='annually')
      | Annually
      input(type='radio', name='frequency', value='monthly')
      | Monthly
      input(type='radio', name='frequency', value='weekly')
      | Weekly
      input(type='radio', name='frequency', value='daily', checked)
      | Daily
  
    | Date : 
    input(type='text', name='datetime', value='', readonly)#dateTime
    img(src='/images/calendar.gif')
  
    br
  
    input(type='submit')